@use '../utilities/index' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.header {
	box-shadow: 1px 2px 16px -5px #000;
	background-color: #fff;
	padding: 0.5rem 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	&__basket-button-container {
		position: relative;
	}
	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		cursor: pointer;
		width: 7rem;
	}
	&__basket-button {
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 50%;
		cursor: pointer;
		margin: 1rem;
		padding: 1rem;
		transition: transform 0.3s;
	}
	&__basket-counter {
		bottom: 0;
		border-radius: 50%;
		background-color: red;
		color: #fff;
		font-size: 1rem;
		font-weight: bold;
		height: 1.5rem;
		margin: 1.2rem;
		position: absolute;
		right: 0;
		width: 1.5rem;
		text-align: center;
		transition: transform 0.3s;
	}
	&__basket-button:hover {
		transform: scale(1.2);
	}
	.count-up {
		animation: countUp 0.5s forwards;
	}
}
.basket {
	background-color: #fff;
	box-shadow: 0px 1px 12px -2px #000;
	bottom: 0;
	font-size: 2rem;
	overflow: scroll;
	left: 0;
	top: 0;
	position: fixed;
	text-align: center;
	text-transform: uppercase;
	transform: translateX(305%);
	transition: transform 0.4s ease 0s;
	right: 0;
	z-index: 20;
	&__button {
		border: 1px solid transparent;
		background-color: #000;
		cursor: pointer;
		left: 0;
		top: 0;
		padding: 1rem;
		position: absolute;
	}
	&__list {
		border-bottom: 2px solid #000;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding: 1rem 0;
	}
	&__purchased-item {
		box-shadow: 0 4px 17px 0px #000;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin: 0.5rem auto;
		width: 90%;
		.product-image {
			grid-row: 1/3;
			width: 15rem;
		}
	}
	&__purchased-price {
		grid-row: 1;
		grid-column: 3;
		margin: auto;
	}
	&__purchased-name {
		grid-row: 1;
		grid-column: 2;
		margin: auto;
		padding: 0.5rem;
	}
	&__purchased-amount-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		grid-column: 2/4;
		grid-row: 2/2;
	}
	&__purchased-minus--button,
	&__purchased-plus--button {
		background-color: transparent;
		border: 1px solid transparent;
		cursor: pointer;
		transition: transform 0.3s;
		z-index: 10;
	}
	&__purchased-minus--button:hover,
	&__purchased-plus--button:hover {
		transform: scale(1.3);
	}
	&__icon {
		margin: 0 auto;
		width: 6rem;
	}
	&__heading {
		padding: 1rem 0;
	}
	&__total--text {
		font-size: 2rem;
		font-weight: bold;
		padding: 0.5rem 1rem;
		text-align: right;
	}
	&__remove-from-cart {
		background-color: $remove-from-basket;
		border: 1px solid transparent;
		border-radius: 10px;
		color: #fff;
		cursor: pointer;
		grid-column: 2/4;
		grid-row: 2/3;
		margin: 2rem;
	}
	.in-active {
		display: none;
	}
}
.basket-active-mobile {
	transform: translateX(0);
}
.basket-active-desktop {
	transform: translateX(203%);
}
.heading {
	font-size: 2.5rem;
	padding: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	padding: 5rem;
}
.main {
	margin: 8rem 0 5rem 0;
}
.products-list {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(1, 1fr);
	z-index: -1;
	.product-input {
		text-align: center;
		padding: 0.5rem;
		width: 20%;
		margin-right: 3rem;
	}
}
.product-list-item {
	background-color: #fff;
	box-shadow: 5px 5px 15px -2px #000;
	border-radius: 5px;
	margin: 0 auto;
	height: 46rem;
	width: 30rem;
	list-style: none;
	padding: 1rem;
	position: relative;
	.product-image {
		height: 250px;
		width: 100%;
	}
	.product-name {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		margin: 0 auto;
		padding: 1.5rem 0 0 0;
		text-transform: uppercase;
	}
	.product-price {
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 2px;
		text-align: center;
		padding: 1rem 0;
	}
	.buttons-container {
		align-items: center;
		bottom: 0;
		display: flex;
		justify-content: space-around;
		margin: 0 0 2rem 0;
		position: absolute;
		.purchase-button {
			background-color: $add-to-basket;
			border: 1px solid transparent;
			color: #fff;
			cursor: pointer;
			font-size: 1.5rem;
			margin: 0 3rem 0 2rem;
			padding: 1rem 2rem;
			transition: transform 0.2s, background-color 0.2s ease-in-out;
		}
		.purchase-button:hover {
			transform: scale(1.15);
		}
		.remove-from-basket {
			background-color: $remove-from-basket;
		}
		.disabled-button {
			cursor: auto;
			opacity: 0.5;
		}
	}
	.favorite-button:hover .favorite-icon {
		stroke: $fav-color;
		transform: scale(1.2);
	}
	.favorite-icon-clicked {
		fill: $fav-color;
		stroke: $fav-color;
	}
}
@include large;
