@mixin large {
	@media (min-width: 992px) {
		.header__basket-button {
			bottom: auto;
			right: auto;
			position: relative;
		}
		.hamburger {
			display: none;
		}
		.basket {
			width: 33vw;
		}
		.products-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
